{% extends 'blog/base.html' %}

{% block content %}
<main class="main-content single-post section-wrapper">
  <div class="single-post-content section-content-narrow">
      <div class="single-post-gap section-gap">

      <h2 class="single-post-title pb-base center">
        Hello World!
      </h2>

      <p class="single-post-excerpt pb-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, vero
        fugiat eum perferendis accusamus enim quos obcaecati. Voluptates a vel
        obcaecati ipsa in dignissimos facere odio et, ab provident assumenda!
      </p>

      <div class="separator"></div>

    </div>
  </div>
</main>

{% endblock content %}
