{% extends 'blog/base.html' %}

{% block content %}
<main class="main-content section-wrapper">
    <div class="section-content-wide">
        <div class="section-gap">

            {% if posts %}
            <div class="card-grid">
                {% for post in posts %}
                {% include 'blog/partials/_post-card.html' with i=forloop.counter0 %}
                {% endfor %}
            </div>
            {% else %}
            <div class="not-found center">
                <h1>You roll a D20, and. . .</h1>
                <p>You just discovered a dark, mysteriously empty place. While attempting to discover where you are, an unknown voice speaks clearly into your thoughts: </p>
                <p><small>"The page you are looking for isn't here. It might be somewhere else, or it may never been existed. Get back to your <a href="{% url 'blog:index' %}">Home</a> and take care of your steps!"</small></p>
            </div>
            {% endif %}

        </div>
    </div>
</main>
{% endblock content %}
