{% extends 'blog/base.html' %}

{% block additional_head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/monokai.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/python/python.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/commonlisp/commonlisp.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/django/django.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/dockerfile/dockerfile.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/http/http.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/jinja2/jinja2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/markdown/markdown.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/shell/shell.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/sql/sql.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/toml/toml.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/yaml/yaml.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/css/css.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/xml/xml.min.js"></script>
{% endblock additional_head %}

{% block content %}
<main class="main-content single-post section-wrapper">
  <div class="single-post-content section-content-narrow">
      <div class="single-post-gap section-gap">

      {% if post.cover and post.cover_in_post_content %}
          <div class="single-post-cover pb-base">
              <img loading="lazy" src="{{ post.cover.url }}" alt="{{ post.title }}">
          </div>
      {% endif %}

      <h2 class="single-post-title pb-base center">
        {{ post.title }}
      </h2>

      <div class="post-meta pb-base">
        <div class="post-meta-item">
            <a class="post-meta-link" href="{% url 'blog:created_by' post.created_by.pk %}">
            <span class="material-symbols-outlined">
              person
              </span>
            <span>
                {% if post.created_by.first_name %}
                  {{ post.created_by.first_name}}
                  {{ post.created_by.last_name}}
                {% else %}
                {{ post.created_by.username }}
                {% endif %}
            </span>
          </a>
        </div>
        <div class="post-meta-item">
          <span class="post-meta-link">
            <span class="material-symbols-outlined">
              today
              </span>
            <span>
              {{ post.created_at | date:'d/m/Y' }}
            </span>
          </span>
        </div>

        {% if post.category %}
          <div class="post-meta-item">
              <a class="post-meta-link" href="{% url 'blog:category' post.category.slug %}">
                  <span class="material-symbols-outlined">
                    sell
                  </span>
                  <span>
                    {{ post.category.name }}
                  </span>
              </a>
          </div>
        {% endif %}

      </div>

      <p class="single-post-excerpt pb-base center">
        {{ post.excerpt | safe }}
      </p>

      <div class="separator"></div>

      <div class="single-post-content">
        {{ post.content | safe }}
        <div class="post-tags">
          <span>tags: </span>

          <a class="post-tag-link" href="#">
            <span class="material-symbols-outlined">
              tag
              </span>
            <span>test</span>
          </a>

          <a class="post-tag-link" href="#">
            <span class="material-symbols-outlined">
              link
              </span>
            <span>att</span>
          </a>

          <a class="post-tag-link" href="#">
            <span class="material-symbols-outlined">
              link
              </span>
            <span>thanks</span>
          </a>

          <a class="post-tag-link" href="#">
            <span class="material-symbols-outlined">
              link
              </span>
            <span>django</span>
          </a>

          <a class="post-tag-link" href="#">
            <span class="material-symbols-outlined">
              link
              </span>
            <span>python</span>
          </a>

        </div>

      </div>

    </div>
  </div>
</main>

{% endblock content %}
